/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.md-form.mat-2 input[type=text], .md-form.mat-2 input[type=password] {
border-width: 1px !important;
border-style: solid;
border-color: #ced4da;
border-radius: 5px;
/* padding-top: .5rem; */
/* padding-left: 8px;
padding-right: 8px; */
padding-bottom: .1rem;
font-size: .875rem;
line-height: 1.5;
box-sizing: border-box;
height: 45px;
}


.md-form.mat-2 label {
top: .3rem;
left: 8px;
font-size: .875rem;
}


.md-form.mat-2 label.active, .md-form.mat-2 label.date.active {
    background: #fff;
    font-weight: 500;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 11px;
    top: 1.9rem;
    left: 8px;
}

.md-form.mat-2 .date.active {
 background: transparent ;
}

input[type=text], input[type=password] { height: 1.5rem; line-height: 0;  }
.mx-auto{ margin-left: 0 !important; margin-right: 0 !important; }

.md-form, .md-form .btn {
    margin-bottom: 0;
    margin-top: 1rem;
}

.form-title{background: #ededed; padding-top:8px; margin-top:8px; margin-bottom:2rem;}

hr{margin: 20px 0 !important;}


.circle-icon {
    background: rgb(50, 91, 146);
    color: white;
    padding:10px;
    border-radius: 50%;
}


.inputs .btn-xs {
    margin-top: 25px !important;
    background-color: #03BFCB ;
    color: white;
}
.btn-default{
    border-radius: 15px;
    color: rgb(50, 91, 146);
    min-height: 2rem;
    background: white;
    border-color:  rgb(50, 91, 146);
    border: 1px solid;
}
.btn-default:hover{
    background-color:  white !important;
    border-color: rgb(50, 91, 146);;
    color: rgb(50, 91, 146);
    font-weight: 600;
    border: 2px solid;

}

.pay{
    font-family: 'Montserrat', sans-serif;
    color: rgb(50, 91, 146);
    font-size: 20px;
}
.value{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: rgb(50, 91, 146);
}
.welcome{
    margin-top: 15px;
    margin-bottom: -20px;
}
.card1{
    margin-top: 25px;
}
body{
    background-color: rgb(228, 237, 243);
}
.menu-cnt, footer { font-family: 'Montserrat', sans-serif !important; }

.md-form.radiobtn label {
    position: relative;
    top: 0;
}
.md-form.radiobtn .radioform:not(:last-child) {
    margin-right: 30px;
}

